*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* .btn {
    
    background-color: orange;
    color: honeydew;
    transition: 0.7s ease-in-out;
  }
  .btn:hover {
    transform: scale(1.1);
  } */